*{
    margin: 0%;
    padding: 0%;
}

.coxa{
    background-color:#FFFFFF;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 24px 0 ;
}

.coxa-imagem {
    width:20%;
}

    .coxa-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    }
    .estádio-imagem{
        width: 35%;
        color: black;
    }
