*{
    margin: 0%;
    padding: 0%;
}

.cabecalho{
    background-color:#76fa4e;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient(#000000ef#76fa4e)
}

.cabecalho-imagem {
    width:10%;
}

    .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    }

    .coxa-imagem{
        width: 35%;
    }
    .coxa{
        background-image: linear-gradient(#76fa4e,rgb(21, 54, 21));
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 24px;
        font-size:150%; 
    }

    .coxa-titulo{
        padding: 24px 0;
        text-align: center;    
    }

    .coxa-div-conteudo{
        width: 45%;
    
      
    }